.search-bar {
  display: flex;
  align-items: center;
  width: 26em;
  margin-top: 2em;
  margin-left: 7em;
}

input {
  font-family: 'Roboto Mono', 'monospace';
  background-color: #F4BC61;
  border: none;
  height: 2.5em;
  width: 25em;
  color: black;
}

.search-button {
  width: 1.75em;
  height: 1.75em;
  margin-left: 0.5em;
}
