 .trash-icon {
  height: 1em;
  width: 1em;
}

.trash-icon:hover {
  cursor: pointer;
}

.fav-word-container {
  display: flex;
  align-items: center;
  margin-left: 7em;
} 

.list-word {
  font-size: 20px;
  margin-right: 0.25em;
} 

@media only screen and (max-width: 640px) {
  .fav-word-container {
    margin-left: 4em;
  } 
}