body {
  background-color: #F3E9D8;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-display {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 70vh;
  margin-left: 5vw;
  margin-top: 1em;
}

.welcome-header {
  font-family: 'Work Sans', 'sans-serif';
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 73%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.search-to-learn {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 18px;
  margin-top: 2em;
  position: absolute;
  top: 93%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.message-container {
  position: relative;
  text-align: center;
  width: 40em;
  height: 20em;
  margin-left: 20em;
}

