.nav {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 85vw;
  height: 15vh;
  border-bottom: 1px solid black;
}

.main {
  display: flex;
  flex-direction: column;
}


.page-header {
  font-family: 'Work Sans', 'sans-serif';
  margin-top: 0.95em;
  font-size: 55px;
}

.favorites-link {
  font-family: 'Roboto Mono', monospace;
  margin-top: 5.75em;
}



